@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define layer order */
@layer reset, primevue;

/* Base styles */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px; /* Set base font size for consistent component scaling */
}

/* Reset layer for basic elements */
@layer reset {
  html, body {
    margin: 0;
    padding: 0;
  }
}
